
/* header */
button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
}
a.btn-phone {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24.13px;
}
/* section class="prewiev" */
h1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  position: absolute;
}
.wedo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  position: absolute;
}
/* section class="info" */
h2 #study {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  position: absolute;
  }
.info-item {
  font-style: normal;
}
h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
}
p.info-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
}

/* section class="lead" */
h2 #go {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
}
a.btn-begin {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
/* footer */
p.join {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33.4px;
}
p.copy {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
}
